.git
.DS_Store
.cache/
.ccache/
.cores/
.devcontainer/
.idea/
.venv-testsuite/
.vscode/
Testing/
build*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

.env
*.env.*
configs/config_vars.yaml
configs/secrets/

logs/
*.log
*.o
*.a
*.so
*.dll
*.exe
*.out
*.tmp
*.swp
